* {
    Padding: 0;
    Margin: 0;
    Box-Sizing: Border-Box;
}
Body {
    Height: 100vh;
    Background: Linear-Gradient(To Right, #7f53ac, #657ced);
}
.Container {
    Position: Absolute;
    Width: 50%;
    Min-Width: 580px;
    Transform: Translate(-50%, -50%);
    Top: 50%;
    Left: 50%;
    Background: #Fff;
    Padding: 50px 10px;
    Border-Radius: 5px;
    Display: Grid;
    Justify-Items: Center;
    Font-Family: "Poppins", Sans-Serif;
}
H3 {
    Font-Size: 30px;
    Font-Weight: 600;
}
Input[Type="Text"] {
    Width: 90px;
    Font-Weight: 600;
    Padding: 20px 0;
    Font-Size: 28px;
    Text-Align: Center;
    Margin-Top: 30px;
    Border-Radius: 5px;
    Border: 2px Solid #202020;
    Color: #663399;
}
Button {
    Width: 160px;
    Padding: 15px 0;
    Border-Radius: 5px;
    Background-Color: #663399;
    Color: #Fff;
    Border: None;
    Font-Size: 18px;
    Font-Weight: 600;
    Margin-Bottom: 30px;
}
P {
    Font-Weight: 400;
}
.Button:hover{
    color:#3ae337;
}